.drawer {
	min-width: 300px;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	padding-bottom: 20px;
}

.headerTitle {
	flex-grow: 1;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

.closeButton {
	display: flex;
	flex-grow: 0;
	align-items: center;
	justify-content: center;
}

.closeIcon {
	width: 100%;
	display: block;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	flex: 1;
}
