.editArea {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	flex-grow: 1;
}

.previewContainer {
	overflow-y: auto;
	overflow-x: hidden;
}

.actionMenuItem {
	position: relative;
	padding: 4px 8px;
	background: lightgray;
	border-radius: 4px;
	cursor: pointer;
}

.actionMenu {
	display: flex;
	padding-bottom: 10px;
}

.actionList {
	position: absolute;
	width: 100%;
	z-index: 10;
	background: lightgray;
	top: 100%;
	left: 0;
	margin-top: 10px;
	border-radius: 4px;
	overflow: hidden;
}

.actionListItem {
	padding: 4px 8px;
}

.actionListItem:hover {
	background-color: gray;
}